* {
    background-color:aliceblue;
}

.container {
    display: inline-grid;
    grid-template: 100px 100px 100px 100px 100px / 100px 100px 100px 100px 100px;
    background-color: lightblue;
}

.room {
    border: 1px solid rebeccapurple;
    font-size: 100%;
    text-align: center;
    background-color: darkkhaki;
}

#living-room {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start:1;
    grid-row-end: 3;
}

#bathroom {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;
}

#bedroom {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

#closet {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

#kitchen {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
}
